*{
	font-family: PingFang-SC-Regular;
}
#modifyPw header{
	height: 2.4rem;
	background-color: #3096FD;
}
#modifyPw header>a{
	height: 2.4rem;
	color: #fff;
	line-height: 1.4rem;
}
#modifyPw header>h1{
	color:#fff;
	line-height: 2.4rem;
}
#modifyPw .content .list-block{
	margin: .6rem 0;
}
#modifyPw .content .list-block .item-content{
	padding: 0;
}
#modifyPw .content .list-block .item-content .item-inner{
	padding-left: .65rem;
}
#modifyPw .content .list-block .item-content .item-inner input{
	font-size: .75rem;
}
#modifyPw .content .list-block .item-content .vcodeT{
	width: 20%;
}
#modifyPw .content .list-block .item-content .vcodeI{
	width: 45%;
}
#modifyPw .content .list-block .item-content .vcodeI input{
	text-align: right;
}
#modifyPw .content .list-block .item-content .gainT{
	height: 1.2rem;
	font-size: .75rem;
	line-height: 1.2rem;
	color:#3096FD ;
	padding:0 .4rem;
	border-left: 1px solid #DCDCDC;
}
 #modifyPw .content form .content-block{
 	margin-top: .575rem;
}
 #modifyPw .content form .content-block a{
 	height: 1.75rem;
 	line-height:1.75rem ;
}
