*{
	font-family: PingFang-SC-Regular;
}
#news header{
	height: 2.4rem;
	background-color: #3096FD;
}
#news header a{
	color: #fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#news header a.xwsd-menu{
	width: 1.1rem;
	height: 1.1rem;
	background-position: right center;
	top: calc(1.2rem - 0.55rem);
	background-image: url(../../img/common/menu-@1x.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0;
	margin-right: .1rem;
}
#news header h1.title{
	font-size: .9rem;
	color: #fff;
}
#news .content .information{
	background-color: #fff;
	margin-top: .6rem;
}
#news .content .information .head{
	padding: .5rem;
	border-bottom: 1px solid #C2C2C2;
	font-size: 0;
}
#news .content .information .head .h-icon{
	display: inline-block;
	width: .1rem;
	height: .75rem;
	background-color:#3096FD;
	margin:0 .5rem 0 .6rem;
	vertical-align: middle;
}
#news .content .information .head .h-text{
	vertical-align: middle;
	font-size: .75rem;
	color: #333;
}
#news .content ul{
	list-style: none;
	margin: 0;
	padding:0 .6rem;
}
#news .content ul.info-content .info-list{
	display: block;
	border-bottom: 1px solid #DCDCDC;
	vertical-align: middle;
	font-size: 0;
}
#news .content ul.info-content .info-list:last-child{
	border: none;
}
#news .content ul.info-content .info-list>a{
	display: inline-block;
	margin: .675rem 0;
	color: #333;
	font-size: .7rem;
	line-height: .7rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
