*{
	font-family: PingFang-SC-Regular;
}
#registerSuccess  header{
	height: 2.4rem;
	background-color: #3096FD;
	border: none;
}
#registerSuccess  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#registerSuccess  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#registerSuccess .content{
	top: 2.4rem; 
	background-color: #fff;
}
#registerSuccess .content .flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#registerSuccess .content .step{
	background-color:#3096FD;
	padding: 0 1.1rem .6rem;
	text-align: center;
}
#registerSuccess .content .step .step-bg{
	height: 2rem;
	background-image: url(../../img/index/progress3.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	margin:0 .4rem .3rem;
	/*padding: .1rem;*/
}
#registerSuccess .content .step .step-text{
	color: #fff;
	font-size: .6rem;
	line-height: .6rem;
}
#registerSuccess .content .reden{
	text-align: center;
	margin: 1.2rem 0 .8rem;
}
#registerSuccess .content .reden img{
	width: 10rem;
	height: 9rem;
}
#registerSuccess .content .rs-tip{
	padding: 0 2rem;
}
#registerSuccess .content .rs-tip h4{
	font-size: .85rem;
	line-height: .85rem;
	font-weight: normal;
	color: #333;
	margin: 0;
	text-align: center;
}
#registerSuccess .content .rs-tip p{
	margin: .6rem 0 1rem;
	font-size: .7rem;
	line-height: 1rem;
	color: #999;
	text-align: justify;
}
#registerSuccess .content .setPass,#registerSuccess .content .stroll{
	height: 2.2rem;
	font-size: .75rem;
	line-height: 2.2rem;
	margin: 0 1.8rem;
	border-radius: 1.1rem;
}
#registerSuccess .content .setPass{
	background-color: #3096FD;
	color: #fff;
}
#registerSuccess .content .stroll{
	margin-top: .9rem;
	color: #3096FD;
}
