{
    "presets": [ "env","react","es2015","babel-preset-env","stage-3","stage-0"],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}
