*{
	font-family: PingFang-SC-Regular !important;
	box-sizing: border-box;
}
p{
	margin: 0;
}

/*.page-from-center-to-left {
	-webkit-animation: pageFromCenterToLeft 0ms forwards;
	animation: pageFromCenterToLeft 0ms forwards;
}

.page-from-left-to-center {
	-webkit-animation: pageFromLeftToCenter 0ms forwards;
	animation: pageFromLeftToCenter 0ms forwards;
}

.page-from-right-to-center {
	-webkit-animation: pageFromRightToCenter 0ms forwards;
	animation: pageFromRightToCenter 0ms forwards;
	z-index: 2002;
}

.page-from-center-to-right {
	-webkit-animation: pageFromCenterToRight 0ms forwards;
	animation: pageFromCenterToRight 0ms forwards;
	z-index: 2002;
}*/
.bar-tab{
	height: 2.45rem;
}
.bar-tab .tab-item{
	font-size: 0;
	padding: 2px 0;
}

.bar-tab .tab-item .tab-label{
	font-size:0.75rem ;
}
.bar-tab .tab-item .tab-label.gray{
	color: rgb(146, 146, 146);

}
.bar-tab .tab-item .tab-label.blue{
	color:rgb(8, 148, 236);
}
.bar-tab .tab-item .icon~.tab-label{
	top: 0 !important;
}
.bar .tab-item img{
	width: 1.25rem;
	height: 1.25rem;
}
.bar-nav~.content {
     top: 2.4rem; 
     margin-bottom: 2.5rem;
}
.card{
	margin: 0.6rem;
}
.card-content-inner{
	padding: 0.6rem;
}
/*首页全部导航栏页*/
.panel{
	width: 100%;
}
.panel.panel-right.panel-cover{
	right: -100%;
}
body.with-panel-right-cover .panel-right{
	-webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
/*首页全部导航栏页*/
#panel-right>header{
	height: 2.4rem;
	border-bottom: 1px solid #DCDCDC;
	background-color: #fff;
}
#panel-right>header>a{
	height:1.1rem;
	top:calc(1.2rem - 0.4125rem);
	background-size: 100% 100%;
}
#panel-right>header .xwsd-icon{
	width: 4rem;
	background-image: url(../img/common/logo.png);
	background-position: left center;
}
#panel-right>header .xwsd-del{
	width: 1.1rem;
	color: #C0C0C0;
	line-height: 1.1rem;
	padding: 0;
	text-align: center;
	font-weight: 100;
}
#panel-right .content{
	background-color: #fff;
	top: 2.4rem;
}
#panel-right .content .a{
	display: flex;
	display: -webkit-flex;
	margin-top: 1.25rem;
}
#panel-right .content .a>a{
	display: block;
	width: 33.3%; ;
	text-align: center;
	font-size: 0;
}
#panel-right .content .a>a>img{
	width: 2.15rem;
	height: 2.15rem;
}
#panel-right .content .a .text{
	font-size: .6rem;
	color: #333;
	margin-top: .6rem;
}
#panel-right .content .b{
	margin-top:1.225rem ;
}
.bar-nav~.content {
     top: 2.4rem; 
}
/*首页*/
#index>header{
	height: 2.4rem;
	background-color: #3096FD;
}
#index>header>a{
	color: #fff;
	font-size:1.4rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#index>header>a.xwsd-icon{
	background-image: url(../img/common/logo-@1x.png);
	width: 4rem;
	height:1.1rem;
	top:calc(1.2rem - 0.5125rem);
	background-position: left center;
}
#index>header>a.xwsd-menu{
	background-image: url(../img/common/menu-@1x.png);
	width: 1.1rem;
	height: 1.1rem;
	background-position: right center;
	top: calc(1.2rem - 0.55rem);
}
#index .swiper-container{
	padding-bottom: 0;
}
#index .content>.slideshow1 img {
	width: 100%;
	/*width:750px;
	height:300px; */
	background-color:rgba(193,200,210,1);
}

#index .content .information{
	height: 2rem;
	margin-top: -10px;
	z-index: 3;
	box-shadow: 0 .2rem .4rem rgba(0,0,0,.06);
	overflow: hidden;
	border-radius: 0.2rem;
}
#index .content .information .swiper-wrapper{
	height: calc(2rem - .6rem);
}
#index .content .information .slideshow2 .swiper-slide{
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
}
#index .content .information .info-icon{
	width: 1.4rem;
	height: 1.4rem;
}
#index .content .information .info-content{
	display: inline-block;
	width: calc(100% - 2.8rem);
	height: 1.4rem;
	line-height: 1.4rem;
}
#index .content .information .info-content p{
	font-family: 'PingFang-SC-Regular';
	font-size: 0.65rem;
	color: #000;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}
#index .content .information .info-to>img{
	width: 1.4rem;
	height: 1.4rem;
}
#index .content .information .slideshow2 .earnings{
	width: calc(100% - 1.4rem);
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
	justify-content: space-between;
}
#index .content .information .slideshow2 .earnings>div{
	font-size: 0.65rem;
	color: rgba(51,51,51,1);
}
/*#index .content .information .slideshow2 .earnings .fixtureNum{
	text-align: left;
}
#index .content .information .slideshow2 .earnings .earnNum{
	text-align: right;
	
}*/
#index .content .information .slideshow2 .earnings .text{
	color: rgba(253,135,31,1);
	font-size: 0.9rem;
}
#index .content .novice .card-content-inner{
	font-size: 0;
}
#index .content .novice .card-content-inner>img{
	vertical-align: bottom;
	margin-top:-0.6rem ;
	width: 3.13rem;
	height: 1.4rem;
	position: relative;
	top: -2px;
}
#index .content .novice .novice-content .tip-text{
	color: #333333;
	font-size: 0.75rem;
	line-height: 0.75rem;
	text-align: center;
	margin: 0.425rem 0 1.075rem 0;
}
#index .content .novice .novice-content .rate{
	color: #3096FD;
	font-size: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	margin-bottom: 0.475rem;
}
#index .content .novice .novice-content .expect-text{
	color:#666666 ;
	font-size: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	margin-bottom: 0.975rem;
}
#index .content .novice .novice-content .tm{
	display: flex;
	display: -webkit-flex;
	justify-content:space-between ;
	font-size: 0.75rem;
	margin-bottom: 0.525rem;
}
#index .content .novice .novice-content .rb a{
	height: 1.75rem;
	line-height: 1.75rem;
	background-color:#3096FD ;
	border-radius:1.75rem;
	color:#F5F7F9;
	font-size: 0.9rem;
}
#index .content .pr{
	margin-top: 0.75rem;
	line-height: 0.75rem;
}
#index .content .pr span{
	display: inline-block;
	margin-left:0.6rem ;
	vertical-align: top;
}
#index .content .pr span.pr-icon{
	width: 0.1rem;
	height: 0.75rem;
	background-color: #3096FD;
}
#index .content .pr span.pr-text{
	font-size:0.75rem ;
	line-height: 0.75rem;
	color: #333;
	margin-left: 0.5rem;
}
#index .content .bid .bid-title{
	font-size: 0;
}
#index .content .bid .bid-title>span{
	display: inline-block;
	vertical-align: middle;
}
#index .content .bid .bid-title .title-icon{
	background-image: url(../img/common/auto-@1x.png);
	width: 0.8rem;
	height: 0.8rem;
	background-size: 100% 100%;
	background-position: center center; 
}
#index .content .bid .bid-title>.text{
	font-size: 0.75rem;
	margin-left: 0.825rem;
}
#index .content .bid .bid-content{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top:0.75rem ;
}
#index .content .bid .bid-content>div>div{
	text-align: center;
}

#index .content .bid .bid-content .num>span:nth-child(1){
	color: #333;
	font-size: 1.2rem;
	/*line-height: 1.2rem;*/
}
#index .content .bid .bid-content .num>span:nth-child(2){
	color: #333;
	font-size: 0.75rem;
}
#index .content .bid .bid-content .num{
	vertical-align: bottom;
}
#index .content .bid .bid-content .r .num{
	color: #FD871F;
	font-size: 1.2rem;
	/*line-height: 1.4rem;*/
}
#index .content .bid .bid-content .text{
	font-size: .6rem;
	line-height: .6rem;
	color: #666;
}
#index .content .bid .pro{
	width: 100%;
	height: .35rem;
	line-height: .35rem;
	position: relative;
	margin-top: .55rem;
}
#index .content .bid .pro .progress{
	width: 100%;
	height: .2rem;
	position: absolute;
	background-color:#D5DBED ;
	border-radius: .1rem;
}
#index .content .bid .pro .progress .fill{
	position: absolute;
	width: 60%;
	height: .35rem;
	top:-.075rem;
	background-image: url(../img/common/progressUp-@1x.png);
	background-repeat: no-repeat;
	background-size: auto 100%; 
	background-position: left center; 
	border-radius: .175rem;
}
#index .content .b{
	width: 100%;
	padding:.5rem  1.45rem .825rem 1.45rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#index .content .b>div{
	display: flex;
	display: -webkit-flex;
	
}
#index .content .b>div>img{
	width: 1.5rem;
	height: 1.5rem;
}
#index .content .b .bt{
	margin-left: .4rem;
}
#index .content .b .bt>div{
	color: #666;
	font-size: .5rem;
	line-height: .5rem;
}
#index .content .b .bt>div:nth-child(1){
	margin-bottom: .525rem;
}
#index .content .c{
	width: 100%;
	margin-bottom: .6rem;
}
#index .content .c .c-inner{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
#index .content .c .c-inner img{
	width: .65rem;
	height: .65rem;
}
#index .content .c .c-inner .c-text{
	color: #999;
	font-size: .5rem;
	line-height: .5rem;
	margin-left: .325rem;
}

#projects>header{
	height: 2.4rem;
	background-color: #3096FD;
}
#projects>header>h1{
	font-family: PingFang-SC-Regular !important;
	color: #fff;
	font-size: 1rem;
	line-height:2.4rem;
}
#projects>header>a{
	height: 2.4rem;
	color: #fff;
	font-size:1rem;
	line-height: 2.4rem;
	font-weight: lighter;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0;
}
#projects>header>a.xwsd-menu{
	background-image: url(../img/common/menu-@1x.png);
	width: 1.1rem;
	height: 1.1rem;
	position: relative;
	line-height: 2.4rem;
	top: .55rem;
	background-position: right center;
	top: calc(1.2rem - 0.55rem);
}
#projects .content{
	top: 2.4rem;
}
#projects .content .buttons-tab{
	position: fixed;
	width: 100%;
	z-index: 100006;
}
#projects .content .buttons-tab .button{
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 0.9rem;
	padding: 0;
}
#projects .content .buttons-tab .bor .selectBtn{
	display: inline-block;
	width: .75rem;
	height: .75rem;
	background-image: url(../img/common/dropdown1.png);
	background-repeat: no-repeat;
	background-size: auto auto;
	/*background-position: 90% center;*/
	position: absolute;
	right: 8%;
	top: .725rem;
}
#projects .content .buttons-tab .bor .selectBtn.dark{
	background-image: url(../img/common/dropdown.png);
}
#projects .content .buttons-tab .bor .selectBtn.down{
	background-image: url(../img/common/dropdown2.png);
}
#projects .content .button.bor:after{
	content: '';
	width: 1px;
	height: 1.6rem;
	background-color: #D6D6D6;
	position: absolute;
	right: -1px;
	top: 0.3rem;
}

#projects .content .tabs{
	position: relative;
	/*top:2.2rem !important;*/
	padding-top: 2.2rem;
}
#projects .content #selectItem{
	width: 100%;
	z-index: 100005;
	background-color: #fff;
	padding:.5rem .6rem .7rem .6rem;
	font-size: 0;
	position: fixed;
	display: none;
	margin-top: -.55rem;
}
#projects .content #selectItem dl{
	margin: 0;
}
#projects .content #selectItem dl dt{
	font-size: .75rem;
	line-height: .75rem;
	color: #666;
	margin:.4rem 0 .2rem 0;
}

#projects .content #selectItem dd{
	display: inline-block;
	width: 4.5rem;
	font-size: .7rem;
	line-height: .7rem;
	text-align: center;
	color: #333;
	background-color:#E9E9E9 ;
	border: 1px solid transparent;
	margin: 0;
	border-radius: .6rem;
	padding: .3rem;
	margin:.3rem .3rem .3rem 0 ;
}
#projects .content #selectItem dd.select{
	color: #3096FD;
	background-color: #fff;
	border: 1px solid #3096FD;
}
#projects #screen{
	position: absolute;
	width: 100%;
	height: calc(100% - 6.45rem);
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,.2);
	display: none;
}
/*与首页列表一致*/
#projects .content .card{
	background-repeat: no-repeat;
	background-size:2.5rem 2.5rem;
	background-position: right top; 
	border-radius: .4rem;
}
#projects .content .bid .bid-title{
	font-size: 0;
}
#projects .content .bid .bid-title>span{
	display: inline-block;
	vertical-align: middle;
}
#projects .content .bid .bid-title .title-icon{
	width: .8rem;
	height: .8rem;
	background-size: 100% 100%;
	background-position: center center; 
}
#projects #tab1 .bid .bid-title .title-icon0{
	background-image: url(../img/common/auto-@1x.png);
}
#projects #tab1 .bid .bid-title .title-icon1{
	background-image: url(../img/common/handle-@1x.png);
}
#projects .content #tab1 .full{
	background-image: url(../img/common/full-scale.png);
}
#projects .content #tab1 .review{
	background-image: url(../img/common/review.png);
}
#projects  #tab1 .full .nolightc,#projects #tab1 .review .nolightc,#projects #tab2 .sell .nolightc{
	color: #999 !important;
}
#projects #tab1 .full .bid-title .title-icon0,#projects #tab1 .review .bid-title .title-icon0{
	background-image: url(../img/common/auto.png);
}
#projects #tab1 .full .bid-title .title-icon1,#projects #tab1 .review .bid-title .title-icon1{
	background-image: url(../img/common/Manual.png);
}
#projects .content .bid .bid-title>.text{
	color: #000;
	font-size: 0.8rem;
	line-height: .8rem;
	margin-left: 0.825rem;
	vertical-align: middle;
}
#projects .content .bid .bid-content{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top:0.75rem;
}
#projects .content .bid .bid-content>div>div{
	text-align: center;
}
#projects .content .bid .bid-content .num>span:nth-child(1){
	color: #333;
	font-size: 1.2rem;
	/*line-height: 1.2rem;*/
}
#projects .content .bid .bid-content .num>span:nth-child(2){
	color: #333;
	font-size: 0.75rem;
}
#projects .content .bid .bid-content .num{
	vertical-align: bottom;
}
#projects .content .bid .bid-content .r .num{
	color: #FD871F;
	font-size: 1.2rem;
	/*line-height: 1.4rem;*/
}
#projects .content .bid .bid-content .text{
	font-size: .6rem;
	line-height: .6rem;
	color: #666;
}
#projects .content .bid .pro{
	width: 100%;
	height: .35rem;
	line-height: .35rem;
	position: relative;
	margin-top: .55rem;
}
#projects .content .bid .pro .progress{
	width: 100%;
	height: .2rem;
	position: absolute;
	background-color:#D5DBED ;
	border-radius: .1rem;
}
#projects .content .bid .pro .progress .fill{
	position: absolute;
	width: 60%;
	height: .35rem;
	top:-.075rem;
	background-image: url(../img/common/progressUp-@1x.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left center; 
	border-radius: .175rem;
}
#projects .content .debt .debt-title{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-bottom: .75rem;
}
#projects .content .debt .debt-title>div{
	font-size: .75rem;
	line-height: .75rem;
}
#projects .content .debt .debt-title .name{
	text-align: left;
	margin-left: .025rem;
}
#projects .content .debt .debt-title .type{
	color: #3096FD;
	text-align: right;
	margin-right: .05rem;
}

#projects .content .debt .progress{
	width: 100%;
	height: .2rem;
	position: relative;
	background-color:#D5DBED ;
	border-radius: .1rem;
}
#projects .content .debt .progress .fill{
	position: absolute;
	width: 90%;
	height: .35rem;
	top: -.075rem;
	background-image: url(../img/common/progressUp-@1x.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left center; 
	border-radius: .175rem;
}
#projects .content .debt .debt-detail{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: .775rem;
}
#projects .content .debt .debt-detail .num{
	font-size: .75rem;
	line-height: .75rem;
	text-align: center;
	color:#000 ;
}
#projects .content .debt .debt-detail .rate .num{
	color: #FD871F;
}
#projects .content .debt .debt-detail .text{
	font-size: .6rem;
	line-height: .6rem;
	color: #666;
	text-align: center;
	margin-top: .275rem;
} 

#projects #tab2 .sell{
	background-image: url(../img/common/sell.png);
}
#me .content .me-header{
	width: 100%;
	/*height:10rem ;*/
	background-color: #3096FD;
	padding-top: 1rem;
}
#me .content .me-header .a{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}
#me .content .me-header .a .service{
	display: inline-block;
	margin-right: .575rem;
}
#me .content .me-header .a .user{
	color: #F7F6FB;
	font-size: .75rem;
	line-height: .75rem;
	margin-left: .625rem;
}
#me .content .me-header .a .service img{
	width: 1.1rem;
	height: 1.1rem;
	vertical-align: middle;
}
#me .content .me-header .common{
	color:#F7F6FB;
	text-align: center;
}
#me .content .me-header .b{
	margin: 1.5rem 0 .6rem 0;
	font-size: .6rem;
	line-height: .6rem;
}
#me .content .me-header .c{
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 1.2rem;
}
#me .content .me-header .d{
	font-size: .6rem;
	line-height: .6rem;
	margin-bottom: .6rem;
}
#me .content .me-header .e{
	font-size: .975rem;
	line-height: .975rem;
	padding-bottom: .6rem;
}
#me .content .me-userOper{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	padding: .6rem;
	background-color: #fff;
}
#me .content .me-userOper .left .text{
	font-size: .6rem;
	line-height: .6rem;
	color: #333;
	margin-bottom: .4rem;
}
#me .content .me-userOper .left .num{
	font-size: .9rem;
	line-height: .9rem;
	color: #333;
}
#me .content .me-userOper .right{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items:center;
}
#me .content .me-userOper .right .common{
	display: block;
	width: 3.25rem;
	height: 1.5rem;
	font-size: .75rem;
	line-height: 1.5rem;
	border-radius: .75rem;
	border: 1px solid #FD871F;
	text-align: center;
}
#me .content .me-userOper .right .withdraw{
	color: #FD871F;
}
#me .content .me-userOper .right .recharge{
	color: #fff;
	background-color: #FD871F;
	border: 0;
	margin-left: .6rem;
}
#me .content .me-func {
	margin: .6rem 0;
}
#me .content .me-func .bg{
	background-color: #fff;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#me .content .me-func .bg:nth-child(2n){
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}
#me .content .me-func .bg>a{
	display: inline-block;
	width: 33.3%;
	text-align: center;
	color: #333;
	font-size: .65rem;
}
#me .content .me-func .bg>a:nth-child(2n){
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
#me .content .me-func .bg>a>img{
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	margin-top: .975rem;
}
#me .content .me-func .bg .text{
	margin: .6rem 0 .775rem 0;
}
