*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.content{
	top:2.4rem !important;
}
.panel.panel-right.panel-cover{
	right: -100%;
}
body.with-panel-right-cover .panel-right{
	-webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.panel{
	width: 100%;
	background-color: rgb(239,239,244);
}
#panel-right .bluebanner{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	background-color: #3197FF;
	padding: .4rem 0;
}
#panel-right .bluebanner div{
	font-size: .7rem;
	line-height: .7rem;
}
#panel-right .allbc{
	background-color: #fff;
	padding: 0 .5rem;
}
#panel-right .allbc li{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: #333;
	padding:.5rem 1rem ;
	border-bottom: 1px solid #999;
}
#panel-right .allbc li:last-child{
	border: none;
}
#panel-right .allbc li .allbc1{
	width: 50%;
	font-size: 0;
	line-height: .7rem;
	vertical-align: middle;
	text-align: left;
}
#panel-right .allbc li .allbc1 span,#panel-right .allbc li .allbc2{
	font-size: .6rem;
	line-height: .6rem;
	vertical-align: middle;
}
#panel-right .allbc li .allbc1 img{
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	background-color: #3197FF;
	vertical-align: middle;
	margin-right: .6rem;
}
#panel-right .allbc li .allbc1 span{
	line-height: .6rem;
}
#panel-right .allbc li .allbc2{
	width: 50%;
	text-align: right;
}
#addBankCard  header,#panel-right header{
	height: 2.4rem;
	background-color: #FFF;
	border-bottom: none;
}
#addBankCard  header a,#panel-right header a{
	height: 2.4rem;
	color: #3197FF;
	line-height: 1.4rem;
}
#addBankCard   header h1.title,#panel-right  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: .9rem;
}
#addBankCard .abc{
	background-color: #fff;
	padding: 0 .6rem;
	margin:.6rem 0 0;
}
#addBankCard .abc li{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #999;
	font-size: .7rem;
	padding: .67rem .1rem;
}
#addBankCard .abc li:last-child{
	border-bottom:none;
}
#addBankCard .abc li:last-child a{
	font-size: .65rem;
}
#addBankCard .abc li input{
	border: none;
	padding: 0;
	/*height: .7rem;*/
	line-height: .7rem;
}
#addBankCard .abc li>div{
	line-height: .7rem;
}
#addBankCard .abc li .left{
	width: 30%;
	color: #666;
}
#addBankCard .abc li .right{
	width: 70%;
	color: #333;
	text-align: left;
}
#addBankCard .abc li .centre{
	width: 65%;
}
#addBankCard .abc li .pull-right{
	width: 5%;
	color: #666;
	text-align: right;
}
#addBankCard .content .abc-sure{
	padding: 1.65rem 1.6rem;
}
#addBankCard .content .abc-sure a{
	height: 2rem;
	line-height: 2rem;
	font-size: .75rem;
	background-color: #3197FF;
	border-radius: .15rem;
}
