*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
input{
	border: none;
	padding: 0;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#modifyPhone  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#modifyPhone  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#modifyPhone  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#modifyPhone .content .mp{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	background-color: #fff;
	padding: .6rem;
	margin: .6rem 0;
}
#modifyPhone .content .mp .fc075{
	font-size: .75rem;
	line-height: .75rem;
	color: #333;
}
#modifyPhone .content .mp .fc06{
	font-size: .6rem;
	line-height: .65rem;
	color: #666;
}
#modifyPhone .content .mp .marL{
	margin-left: 1.5rem;
}
#modifyPhone .content .sure{
	height: 1.75rem;
	font-size: .75rem;
	line-height: 1.75rem;
	color: #F7F6FB;
	margin: .6rem;
	border-radius: .15rem;
}
