
*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#settings  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#settings  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#settings  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}

i.icon-wh{
	width: 1.1rem;
	height: 1.1rem;
}
i.icon.icon-settings0{
	background-image: url(../../img/me/settings/i-setting0.png);
}
i.icon.icon-settings1{
	background-image: url(../../img/me/settings/i-setting1.png);
}
i.icon.icon-settings2{
	background-image: url(../../img/me/settings/i-setting2.png);
}
i.icon.icon-settings3{
	background-image: url(../../img/me/settings/i-setting3.png);
}
i.icon.icon-settings4{
	background-image: url(../../img/me/settings/i-setting4.png);
}
i.icon.icon-settings5{
	background-image: url(../../img/me/settings/i-setting5.png);
}
i.icon.icon-settings6{
	background-image: url(../../img/me/settings/i-setting6.png);
}
i.icon.icon-settings7{
	background-image: url(../../img/me/settings/i-setting7.png);
}
i.icon.icon-settings8{
	background-image: url(../../img/me/settings/i-setting8.png);
}
i.icon.icon-settings9{
	background-image: url(../../img/me/settings/i-setting9.png);
}
i.icon.icon-settings10{
	background-image: url(../../img/me/settings/i-setting10.png);
}
#settings .list-block{
	margin: .6rem 0;
}
#settings .list-block ul{
	border: none;
}
#settings .list-block  .item-inner{
	border-bottom: none;
}

#settings .list-block .item-content{
	margin-left: .75rem;
	padding-left: 0;
	border-bottom:1px solid #e7e7e7;
}
#settings .list-block .item-content .item-title{
	font-size: .75rem;
	line-height: .75rem;
	
}
#settings .list-block li:last-child .item-content{
	border: none;
}
#settings .content .signOut{
	display: block;
	width: 100%;
	font-size: .75rem;
	line-height: .75rem;
	text-align: center;
	padding: .6rem 0;
	background-color: #fff;
}
