*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.content{
	top:2.4rem !important;
}
#supportBankList .bluebanner{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	background-color: #3197FF;
	padding: .4rem 0;
	color: #fff;
}
#supportBankList .bluebanner div{
	font-size: .7rem;
	line-height: .7rem;
}
#supportBankList .allbc{
	background-color: #fff;
	padding: 0 .5rem;
}
#supportBankList .allbc li{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: #333;
	padding:.5rem 1rem ;
	border-bottom: 1px solid #999;
}
#supportBankList .allbc li:last-child{
	border: none;
}
#supportBankList .allbc li .allbc1{
	width: 50%;
	font-size: 0;
	line-height: .7rem;
	vertical-align: middle;
	text-align: left;
}
#supportBankList .allbc li .allbc1 span,#supportBankList .allbc li .allbc2{
	font-size: .6rem;
	line-height: .6rem;
	vertical-align: middle;
}
#supportBankList .allbc li .allbc1 img{
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	background-color: #3197FF;
	vertical-align: middle;
	margin-right: .6rem;
}
#supportBankList .allbc li .allbc1 span{
	line-height: .6rem;
}
#supportBankList .allbc li .allbc2{
	width: 50%;
	text-align: right;
}
#supportBankList  header{
	height: 2.4rem;
	background-color: #FFF;
	border-bottom: none;
}
#supportBankList  header a{
	height: 2.4rem;
	color: #3197FF;
	line-height: 1.4rem;
}
#supportBankList   header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: .9rem;
}