*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#updatePass  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#updatePass  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#updatePass  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#updatePass .content .list-block{
	margin: .6rem 0;
}
.list-block .item-title.label{
	width: 25%;
}
#updatePass .item-content{
	padding-left: 0;
}
#updatePass .item-content .item-inner{
	padding-left: .75rem;
}
#updatePass .item-content .item-title{
	font-size: .75rem;
	line-height: .75rem;
	color: #333;
}
#updatePass .item-content input{
	font-size: .75rem;
	line-height: .75rem;
	color: #666;
}
#updatePass .item-content .forget{
	width: 50%;
}
#updatePass .item-content .forgetPass{
	font-size: .6rem;
	color: #FF4E4E;
}
#updatePass .sure{
	height: 1.75rem;
	line-height: 1.75rem;
	background-color: #3096FD;
	border-radius: .15rem;
	margin: .6rem;
}