*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
p{
	margin: 0;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#vip  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#vip  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#vip  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#vip .content .mar{
	margin: .6rem 0;
}
#vip .content .vip-bg{
	background-color: #fff;
}
#vip .content .vip-padd{
	padding: .6rem;
}
#vip .content .flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
#vip .content .borderb{
	border-bottom: 1px solid #DCDCDC;
}
#vip .content .fz075{
	font-size: .75rem;
	line-height: .75rem;
}
#vip .content .fz06{
	font-size: .6rem;
	line-height: .6rem;
}
#vip .content .fz05{
	font-size: .5rem;
	line-height: .5rem;
}
#vip .content .color333{
	color: #333;
}
#vip .content .color666{
	color: #666;
}
#vip .content .vip-paddL{
	padding:0 .6rem;
}
#vip .content .tip{
	line-height: 1rem;
}
