*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
#withdraw header{
	height: 2.4rem;
	background-color: #3096FD;
}
#withdraw header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#withdraw header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#withdraw .content .wmain{
	background-color: #fff;
	list-style-type: none;
	padding: 0;
}
#withdraw .content .wmain li{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	padding: .6rem;
	border-bottom: 1px solid #DCDCDC;
}

#withdraw .content .wmain li:last-child{
	/*padding-bottom: .6rem;*/
	border-bottom:none;
}
#withdraw .content .wmain li .left{
	font-size: .75rem;
	line-height: .75rem;
	color: #333;
}
#withdraw .content .wmain li .right{
	font-size: .6rem;
	line-height: .75rem;
	color: #666;
	text-align: right;
}
#withdraw .content .wmain .wdm .wdmT{
	/*line-height: .6rem;*/
	vertical-align: middle;
}
#withdraw .content .wmain .wdm .wdmN input{
	width: 50%;
	padding: 0;
	border: none;
}
#withdraw .content .wmain .wdm .wdmN .max{
	font-size: .6rem;
	line-height: .6rem;
	color: #fff;
	background-color:#3096FD;
	padding: .2rem .5rem;
	border-radius: .25rem;
	margin-left: .5rem;
}
#withdraw .content .tip{
	font-size: .75rem;
	line-height: .75rem;
	color: #E23131;
	text-align: center;
	margin: .75rem 0;
}
