<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    	<meta name="format-detection" content="telephone=no">
    	<meta name="apple-touch-fullscreen" content="yes">
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	    <title>夏季大回馈 积分Fun开花</title>
      <base href="../" />
      <link href="https://cdn.bootcss.com/mui/3.4.0/css/mui.min.css" rel="stylesheet">
      <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <script>
        var clientWidth = 0;
        if (document.documentElement.clientWidth > 750) {
            clientWidth = 750;
        } else {
            clientWidth = document.documentElement.clientWidth;
        }
        document.documentElement.style.fontSize = clientWidth / 7.5 + 'px';
      </script>
	    <!-- 当前页面的CSS -->
	    <link rel="stylesheet" href="css/app.css">
	</head>
  	<body data-type="wap">
  		<section id="event20180620mobile">
	  		<div class="mobiPage">
	          <img src="img/app/1.png" alt="夏季大回馈 积分Fun开花" />
        </div>
        <div class="mobiPage">
	          <img src="img/app/2.png" alt="夏季大回馈 积分Fun开花" />
            <div class="innerBox hidden" data-vue="loginArea">
              <template v-if="!isLogin">
                <div class="area02">
                  <button type="button" @click="showLogin">立即登录</button>
                </div>
                <div class="area03">
                  <p>登陆后可查看您的积分。</p>
                </div>
              </template>
              <div class="area03" v-if="isLogin">
                  <p>您目前的积分为：</p>
                  <!-- 当前积分 -->
                  <p class="integral">{{slicemoney(integral)}}积分</p>
                  <div>
                      <q class="loginw">v</q>
                      <!-- <p>读取用户名</p> -->
                      <p>{{username}}</p>
                    </div>
              </div>
            </div>
        </div>
        <div class="mobiPage">
	          <img src="img/app/3.png" alt="夏季大回馈 积分Fun开花" />
            <div class="innerBox area04 hidden" data-vue="userArea">
                <div class="pos02">
                    <div v-for="j in giftList">
                        <button @click="conversion(j.v,j.s)">{{slicemoney(j.v)}}兑换</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="mobiPage">
            <img src="img/app/4.png" alt="夏季大回馈 积分Fun开花" />
        </div>
        <div class="winBkg hidden" data-vue="loginWin">
          <div class="winBox">
            <div class="loginWin">
              <p class="inputBox">
                <input type="text" placeholder="账号" v-model="form.username" />
              </p>
              <p class="inputBox">
                <input type="password" placeholder="密码" v-model="form.password" />
              </p>
              <p class="inputBox codeBox">
                <input type="text" placeholder="验证码" v-model="form.smsCode" />
                <button type="button" @click="sendCode" v-if="second < 1">获取验证码</button>
                <span v-else>{{second}} 秒后重发</span>
              </p>
              <p class="btnSubmit">
                <button type="button" @click="submit">立即登录</button>
              </p>
              <p class="btnClose">
                <button type="button" @click="close">关闭</button>
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="winBkg hidden" data-vue="notifyWin">
          <div class="winBox">
            <div class="notifyWin">
              <p :class='["title", type]'></p>
              <p class="desc">{{msg}}</p>
              <p class="btnArea"><button type="button" @click="close">确认</button></p>
            </div>
          </div>
        </div> -->
        <div class="conversionWin hidden" data-vue="conversionWin">
            <div class="conversionBkg">
              <template v-if="conversionw==false">
                <p>您确定要兑换吗？</p>
                <p>兑换后将减少相应积分</p>
                <button class="conversion_affirm" @click="affirm">确认</button>
                <button class="conversion_close" @click="close">取消</button>
              </template>
              <template v-else>
                <p>您已兑换成功</p>
                <p> 可进入“我的卡券”页面查看</p>
                <button class="conversion_affirm" @click="affirm_off">确认</button>
                </template>
            </div>
        </div>
	  	</section>
      <script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js" data-main="js/page"></script>
  	</body>
</html>