@import "../common.css";
*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;	
}
.bar-nav~.content {
     top: 2.4rem; 
}
.bar .button-link{
	height: 2.4rem;
	line-height: 2.4rem;
	color: #fff;
	font-size: .9rem;
}
input{
	border: none;
	padding: 0;
}
#auto-bid-setting1  header{
	height: 2.4rem;
	background-color: #3096FD;
	border-bottom: none;
}
#auto-bid-setting1 header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#auto-bid-setting1 header a.rr{
	line-height: 2.4rem;
	vertical-align: middle;
}
#auto-bid-setting1 header h1.title{
	height: 2.4rem;
	font-size: .9rem;
	line-height: 2.4rem;
	color:#fff;
}
#auto-bid-setting1 .content>div{
	background-color: #fff;
}
#auto-bid-setting1 .content>div:nth-child(2n){
	margin: .6rem 0;
}
#auto-bid-setting1 .abs1{
	width: 100%;
}
#auto-bid-setting1 .abs11{
	margin-top:.6rem;
}
#auto-bid-setting1 .abs1>div{
	margin-left: .6rem;
	padding: .4rem;
	font-size: .75rem;
}
#auto-bid-setting1 .abs11>div .orange{
	color: #FD6530;
	margin-left: 1rem;
}
#auto-bid-setting1 .abs1>div:nth-child(2n){
	border-top: 1px solid #DCDCDC;
}
#auto-bid-setting1 .abs11 .abs112,#auto-bid-setting1 .abs1 .flex,#auto-bid-setting1 .abs15 .flex{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

#auto-bid-setting1 .label-switch,#auto-bid-setting1 .label-switch input[type=checkbox],#auto-bid-setting1 .label-switch input[type=checkbox]{
	width: 1.8rem;
	height: 1rem;
}
#auto-bid-setting1 .content .ab2 .label-switch input[type=checkbox]{
	right: 0;
}
#auto-bid-setting1 .label-switch .checkbox{
	width: 1.8rem;
	height: 1rem;
	border-radius: .5rem;
}
#auto-bid-setting1 .label-switch input[type=checkbox]:checked+.checkbox{
	background: #3096FD;
}
#auto-bid-setting1 .label-switch .checkbox:before{
	width: 1.6rem;
	height: .8rem;
}
#auto-bid-setting1 .label-switch .checkbox:after{
	width: .9rem;
	height: .9rem;
	top: .05rem;
}
#auto-bid-setting1 .label-switch input[type=checkbox]:checked+.checkbox:after{
	-webkit-transform: translateX(.8rem);
    -ms-transform: translateX(.8rem);
    -o-transform: translateX(.8rem);
    transform: translateX(.8rem);
}

#auto-bid-setting1 .abs12 .grey{
	color: #666;
	margin-left: 1rem;
}
#auto-bid-setting1 .abs12 .item-inner{
	width: 50%;
}
/* #auto-bid-setting1 .abs12 .abs122{
	padding-left:4.6rem;
	padding-left:.6rem;
} */
#auto-bid-setting1 .abs12 .abs122>div{
	margin-right: .1px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#auto-bid-setting1 .abs12 .abs122>div .input1{
	width:35%;
	text-align: center;
}
#auto-bid-setting1 .abs12 .abs122>div .input2{
	width:38%;
	text-align: center;
}
#auto-bid-setting1 .abs12 .abs122 .yuan{
	width: 12%;
}
/*#auto-bid-setting1 .abs12 .abs122>div input:first-of-type{
	text-align: left;
}*/
#auto-bid-setting1 .abs12 .abs122>div>span{
	display: inline-block;
	width: 25%;
	text-align: center;
}
/*#auto-bid-setting1 .abs12 .abs122>div>span:last-of-type{
	text-align: right;
}*/
#auto-bid-setting1 .abs15{
	padding:0.1px .6rem;
}
#auto-bid-setting1 .abs15 .ali{
	align-items: flex-start;
}
#auto-bid-setting1 .abs15 .bor{
	padding: .5rem 0;
	border-bottom: 1px solid #DCDCDC;
}
#auto-bid-setting1 .abs15 .bor>div{
	padding: 0 0.33rem;
	white-space: nowrap;
	text-align: center;
	font-size: .75rem;
	line-height: .75rem;
}
#auto-bid-setting1 .w33{
	width: 50%;
}
#auto-bid-setting1 .abs15 .bor .down{
	color: #3096FD;
}
#auto-bid-setting1 .abs15 .bor>div{
	border-right: 1px solid #DCDCDC;
}
#auto-bid-setting1 .abs15 .bor>div:last-child{
	border-right: none;	
}
#auto-bid-setting1 .abs15 .abs15-b{
	width: 33%;
	text-align: center;
	margin-top: 2px;
	vertical-align: top;
}
#auto-bid-setting1 .abs15 .abs15-b:nth-child(2){
	border-left: 1px solid #DCDCDC;
}
#auto-bid-setting1 .abs15 .borderLeft{
	border-right: 1px solid #DCDCDC;
}
#auto-bid-setting1 .abs15 .abs15-b:nth-child(3){
	border-left: 1px solid #DCDCDC;
	border-right: none;	
}
#auto-bid-setting1 .abs15 .abs15-b>div{
	display: inline-block;
	width: 4.01rem;
	font-size: .48rem;
	line-height: .48rem;
	padding: .45rem .2rem;
	margin: .5rem 0;
	border-radius: .25rem;
	white-space: nowrap;
	
}
#auto-bid-setting1 .abs15 .abs15-b .fb{
	color: #fff;
	background-color: #3096FD;
	border:1px solid rgba(255,255,255,1);
}
#auto-bid-setting1 .abs15 .abs15-b .hb{
	color: rgba(51,51,51,1);
	background-color: rgba(255,255,255,1);
	border:1px solid gray;
	/* box-sizing: border-box; */
}
@media only screen and (max-width:320px ) {
	#auto-bid-setting1 .abs15{
		padding:0.1px .2rem;
	}
	#auto-bid-setting1 .abs15 .bor>div{
		font-size: .65rem;
		line-height: .65rem;
	}
	#auto-bid-setting1 .abs15 .abs15-b>div{
		width: 3.8rem;
		font-size: .4rem;
		line-height: .4rem;
		padding: .5rem 0rem;
	}
}
/* #auto-bid-setting1 .abs15 .abs15-b .fb:last-child{
	margin-bottom: 1rem;
} */
#auto-bid-setting1 .abs15 .savest{
	height: 1.75rem;
	font-size: .75rem;
	line-height: .75rem;
	padding: .5rem 0;
	border-radius: .2rem;
	margin:.6rem 0 .7rem;
	background: #3096FD;
}
.item-inner{
	color: rgba(102,102,102,1);
	font-size: 0.75rem;
	width: 13.3rem;
	border: none;
	background-color: rgba(255,255,255,1);
	outline: transparent;
}


