*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#borrowMoney  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#borrowMoney  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#borrowMoney  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#borrowMoney .item-content{
	padding-left: 0;
}
#borrowMoney .item-content .item-inner{
	padding-left: .75rem;
}
#borrowMoney .content .list-block{
	margin: .6rem 0;
}
#borrowMoney .content .list-block ul{
	border: none;
}

#borrowMoney .content .list-block .address {
	display: flex;
	display: -webkit-flex;
}
#borrowMoney .content .list-block .item-title{
	font-size: .75rem;
	color: #333;
}
#borrowMoney .content .list-block .item-title.label{
	width: 25%;
}
#borrowMoney .content .list-block .item-input input{
	font-size: .6rem;
	color: #666;
}
#borrowMoney .content .apply{
	height: 1.75rem;
	line-height: 1.75rem;
	font-size: .75rem;
	background-color: #3096FD;
	margin: .6rem;
	border-radius: .15rem;
}
