*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#exDetail  header{
	height: 2.4rem;
	background-color: #3096FD;
	border-bottom: none;
}
#exDetail header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#exDetail header h1.title{
	height: 2.4rem;
	font-size: .9rem;
	line-height: 2.4rem;
	color:#fff;
}
#exDetail .content{
	font-size: 0.6rem;
}
#exDetail .center{
	text-align: center;
	font-size: 1rem;
	margin-top: 1rem;
}
#exDetail .content .card{
	font-size: 0.6rem;
	
}
.card-header{
	font-size: 0.6rem;
}
.card-content-inner .card-p span{
	width: 50%;
	display: inline-block;
	white-space: nowrap;
}
.card-content-inner .card-p span:nth-child(1){
	width: 44%;
}
.card-content-inner .card-p{
	margin-top: 0.6125rem;
}
.card-content-inner .card-p:first-child{
	margin-top:0;
}
.mini{
	width: 16.5rem;
	margin: 0 auto;
	margin-top: 1rem;
}
.mini .card-p{
	display: flex;
	justify-content: space-between;
}
.mini .card-p span{
	width: auto;
}
.blank{
	color: black;
}
.blue{
	color:#3096FD;
}
.disf{
	display: flex;
	justify-content: space-around;
}