*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#openDepository  header{
	height: 2.4rem;
	background-color: #3096FD;
	border: none;
}
#openDepository  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#openDepository  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#openDepository .content{
	background-color: #fff;
}
#openDepository .content .list-block{
	margin: .6rem 0 0;
}
#openDepository .content .list-block ul{
	border-bottom: none;
}
#openDepository .content .list-block .item-title{
	font-size: .75rem;
	color: #333;
}
#openDepository .content .list-block .item-input input{
	font-size: .75rem;
	color: #666;
}
#openDepository .content .label-checkbox .fz03{
	font-size: .3rem;
	line-height: .3rem;
}
#openDepository .content .label-checkbox  .item-media{
	padding: 0;
}
#openDepository .content .label-checkbox .icon-form-checkbox{
	width: .6rem;
	height: .6rem;
}
#openDepository .content .label-checkbox .item-inner{
	padding-top: .14rem;
	margin-left: .4rem;
}
#openDepository .content .apply{
	height: 1.75rem;
	line-height: 1.75rem;
	font-size: .75rem;
	border-radius: .2rem;
	background-color: #3096FD ;
	color: #fff;
	margin: 0 .6rem;
}
