*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
.bar-nav~.content {
     top: 2.4rem; 
}
#rwrecord  header{
	height: 2.4rem;
	background-color: #3096FD;
}
#rwrecord  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#rwrecord  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#rwrecord  .buttons-tab{
	position: fixed;
	width: 100%;
	top: 2.4rem;
}
#rwrecord .buttons-tab .button{
	padding: 0 .2rem;
}
#rwrecord .content .tab{
	margin-top: 2.6rem;
}
#rwrecord  .button.bor:after{
	content: '';
	width: 1px;
	height: 1.4rem;
	background-color: #D6D6D6;
	position: absolute;
	right: -1px;
	top:.2rem;
}
#rwrecord .content .card-content .flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#rwrecord .content .card-content .rwrLeft{
	font-size: 0;
}
#rwrecord .content .card-content .rwrLeft .num{
	font-size: .9rem;
	line-height: .9rem;
}
#rwrecord .content .card-content .rwrLeft .text{
	font-size: .6rem;
	line-height: .6rem;
	color: #3096FD;
	margin-top: .2rem;
}
#rwrecord .content .card-content .rwrLeft .marl{
	margin-left: .6rem;
}
#rwrecord .content .card-content .rwrLeft img{
	width: 1.8rem;
	height: 1.75rem;
}
#rwrecord .content .card-content .rwrRight .fzc{
	font-size: .45rem;
	line-height: .45rem;
	color: #666;
}
#rwrecord .content .card-content .rwrRight .fzc:nth-child(2n){
	margin-top: .25rem;
}
