*{
	font-family: PingFang-SC-Regular;
	box-sizing: border-box;
}
#debt header{
	height: 2.4rem;
	background-color: #3096FD;
}
#debt header a{
	color:#fff;
	height: 2.4rem;
}
#debt header h1.title{
	color:#fff;
	font-size: .9rem;
}
#debt .content .pinfo{
	padding:0 .6rem .725rem .6rem;
	background-color: #fff;
}
#debt .content .pname{
	padding: .825rem 0;
	font-size: 0;
}
#debt .content .pname .picon{
	display: inline-block;
	width: .8rem;
	height: .8rem;
	background-image: url(../../img/projects/debt/zhuan.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
}
#debt .content .pname .nameT{
	font-size: .75rem;
	line-height: .75rem;
	margin-left: .5rem;
	vertical-align: middle;
}
#debt .content .pinfo .rtext{
	margin: .25rem 0 .45rem 0;
	text-align: center;
	color: #666;
	font-size: .6rem;
}
#debt .content .pinfo .rnum{
	font-size: 1.5rem;
	line-height: 1.5rem;
	color:#FD871F;
	text-align: center;
}
#debt .content .pinfo .rnum small{
	font-size: .9rem;
	line-height: .9rem;
}
#debt .content .pinfo .pbid{
	margin: 1.575rem 0 .775rem 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#debt .content .pinfo .pbid .num{
	text-align: center;
	font-size: .9rem;
	color: #333;
}
#debt .content .pinfo .pbid .text{
	font-size: .6rem;
	color: #666;
	text-align: center;
}
#debt .content .pinfo .progress{
	position: relative;
	width: 100%;
	height: .2rem;
	background-color: #D5DBED;
}
#debt .content .pinfo .progress .fill{
	position: absolute;
	width:90%;
	height: .35rem;
	background-image: url(../../img/projects/debt/progressUp-@1x.png);
	background-repeat: no-repeat;
	background-size: auto 100%; 
	background-position: left center; 
	border-radius: .175rem;
	top: -.075rem;
}
#debt .content .pinfo .repayment{
	font-size: 0;
	margin-top: .275rem;
}
#debt .content .pinfo .repayment span{
	font-size: .6rem;
	line-height: .6rem;
	color: #333;
}
#debt .content .pinfo .repayment span.typeT{
	color: #666;
}
#debt .content .pinfo .repayment span.type{
	margin-left: .575rem;
}
#debt .content .pinfo .repayment span.rate{
	float: right;
}
#debt .content .pr{
	font-size: 0;
	padding: 1rem .6rem .5rem .6rem;
}
#debt .content .pr span{
	display: inline-block;
}
#debt .content .pr .pr-icon{
	width: .1rem;
	height: .75rem;
	vertical-align: middle;
	background-color: #3096FD;
}
#debt .content .pr .pr-text{
	color: #333;
	font-size: .75rem;
	line-height: .75rem;
	vertical-align: middle;
	margin-left: .5rem;
}
#debt .content .pr-content{
	background-color: #fff;
}
#debt .content .pr-content dl{
	margin: 0;
}
#debt .content .pr-content dl dt{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	border-bottom: 1px solid #C2C2C2;
	padding: .5rem .6rem;
}
#debt .content .pr-content dl dt>div{
	width: 33.33%;
	font-size: .75rem;
	line-height: .75rem;
	color: #666;
	text-align: left;
}
#debt .content .pr-content dl dd{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 .6rem;
}
#debt .content .pr-content dl dd:last-of-type{
	border-bottom: 1px solid #DCDCDC;
}
#debt .content .pr-content dl dd>div{
	width: 33.33%;
	font-size: .6rem;
	line-height: 1.2rem;
	color: #333;
	text-align: left;
	padding: .4rem 0;
	border-bottom: 1px solid #DCDCDC;
}
#debt .content .pr-content dl dd:last-of-type > div{
	border-bottom:none;
}
#debt .content .pr-content dl .bt>div{
	line-height: .6rem;
}
#debt .content .pr-content .viewm{
	font-size: .6rem;
	line-height: .6rem;
	color: #333;
	text-align: center;
	padding: .6rem 0;
}
#debt .content .inventI{
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: .75rem;
	line-height: .75rem;
	color: #fff;
	text-align: center;
	background-color: #3096FD;
	padding: .5rem 0;
}
