:root{
    --gray:#666C75;
    --white:#fff;
    --deepblue:#354660;
    --blue:#2793FF;
    --w15:15rem;
}
.red{
    color: red!important;
}
.blue{
    color: #3096FD!important;
}
.while{
    color: white;
}
.por{
    position: relative;
}
.poa{
    position: absolute;
}
.w2{
    width: 2rem;
}
.w3{
    width: 3rem;
}
.w4{
    width: 4rem;
}
.w15{
    width: 15rem;
}

.padt1{
    padding-top: 1rem;
}
.pad_1{
    padding: 1rem 0;
}
.patl5{
    padding-left: 5rem;
}

.marl1{
    margin-left: 1rem;
}
.mar1{
    margin: 0 1rem;
}
.mar_1{
    margin: 1rem 0;
}
.mart05{
    margin-top: .5rem;
}
.mart1{
    margin-top: 1rem;
}
.mart2{
    margin-top: 2rem;
}
.marb2{
    margin-bottom: 2rem;
}


.center{
    text-align: center;
}
.left{
    text-align: left;
}
.fs1{
	font-size: 1rem;
}
.screenBg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10600;
    background: rgba(0,0,0,.6);
}

.w50{
    width: 50%;
}
.borr1{
    border-right: 1px solid #DCDCDC;
}