@charset "utf-8";

/* event20180620mobile */

#event20180620mobile {
	background:rgb(7, 44, 91);
}
#event20180620mobile .mobiPage {
 	width:100%; 
 	max-width: 750px; 
 	margin:0 auto;
 	position: relative;
}

#event20180620mobile .mobiPage img {
	width:100%; 
	max-width: 750px; 
	height:auto; 
	display: block;
	clear:both;
}
#event20180620mobile .mobiPage .innerBox {
	position: absolute;
	top:0; left:0;
	width:100%; height:100%;
}

#event20180620mobile .area01 {
	position: absolute;
	top:4.00rem;
	left:0; right:0;
	font-size: .18rem;
	color:#000;
	text-align: center;
	margin:0 auto;
}

#event20180620mobile .area02 {
	position: absolute;
	top:3.43rem;
	left: 2.5rem;
}

#event20180620mobile .area02.login {
	background: url(../img/app/login_bkg.png) no-repeat scroll top center;
	width:1.62rem;
	height:2.23rem;
	background-size: 100%;
}

#event20180620mobile .area02.login p {
	position: absolute;
	bottom: .24rem;
	left:0; right:0;
	font-size: .18rem;
	color:#641015;
	text-align: center;
	margin:0;
}

#event20180620mobile .area02 button {
	background: url(../img/app/login_btn.png) no-repeat scroll top center;
	width:2.4rem;
	height:1.2rem;
	background-size: 100%;
	text-indent: -999px;
	padding: 0;
	border: 0;
	overflow: hidden;
	outline: 0;
}

#event20180620mobile .area03 {
	position: absolute;
	top:3rem;
	left:1.4rem;
	right:3.00rem;
}
#event20180620mobile .area03 p{
	font-size: .25rem;
	color:#641015;
}
#event20180620mobile .area03 .integral{
	background: url(../img/app/integral.png) no-repeat scroll top center;
	font-size: .25rem;
	background-size: 100%;
	color:#F3D180;
	height: .65rem;
	line-height: .6rem;
	margin:0;
	margin-bottom: .22rem;
	text-align: center;
}
#event20180620mobile .area03 div{
	position: absolute;
	right: -1.5rem;
	top: -.6rem;
	text-align: center;
}
#event20180620mobile .area03 div .loginw{
	background: url(../img/app/loginWin_af.png) no-repeat scroll top center;
	background-size: 100%;
	height: .74rem;
	width: .93rem;
	text-indent: -999px;
	display: inline-block;
}
#event20180620mobile .area03 div p{
	text-align: center;
}




#event20180620mobile .area04 .pos02{
	position: absolute;
	top:1.55rem;
	width: 100%;
}
#event20180620mobile .area04 .pos02 div{
	display: inline-block;
	width: 50%;
	height: 3.3rem;
	margin-bottom: 0.14rem;
	padding-top: 2.25rem;
}
#event20180620mobile .area04 .pos02 div button{
	background: url(../img/app/notify_btn.png) no-repeat scroll top center;
	color: #F3D180;
	border: none;
	background-size: 100%;
	line-height: .3rem;
	width: 1.8rem;
	font-size: .25rem;
}
#event20180620mobile .area04 .pos02 div:nth-child(2n-1) button{
	position: absolute;
	left: 1.55rem;
}
#event20180620mobile .area04 .pos02 div:nth-child(2n) button{
	position: absolute;
	right: 1.65rem;
}
/* #event20180620mobile .area04 > div {
	position: absolute;
	left:2.40rem;
	right:1.00rem;
}
#event20180620mobile .area04 p {
	font-size: .24rem;
	text-align: center;
	margin:0;
	color:#6B0004;
}

#event20180620mobile .area04 .left {
	position: absolute;
	width:50%;
	top:0;
	left:0;
}

#event20180620mobile .area04 .right {
	position: absolute;
	width:50%;
	top:0;
	right:0;
}

#event20180620mobile .area04 .total {
	margin-bottom: .30rem;
}

#event20180620mobile .area04 .line01 {
	top:2.10rem;
}

#event20180620mobile .area04 .line02 {
	top:5.90rem;
}

#event20180620mobile .area04 .line03 {
	top:9.70rem;
} */

#event20180620mobile .area05 {
	position: absolute;
	top:3.00rem;
	left:1.10rem;
	right:1.00rem;
}

#event20180620mobile .area05 p {
	text-align: left;
	color:#FBF4D8;
	font-size: .24rem;
	line-height: .30rem;
	margin:0;
}

#event20180620mobile .area05 button,
#event20180620mobile .area07 button {
	background: url(../img/app/submit.png) no-repeat scroll top center;
	width:1.97rem;
	height:.46rem;
	background-size: 100%;
	text-indent: -999px;
	padding: 0;
	border: 0;
	overflow: hidden;
	outline: 0;
	border-radius: 0;
}

#event20180620mobile .area05 button[disabled],
#event20180620mobile .area07 button[disabled] {
	background: url(../img/app/submit_disabled.png) no-repeat scroll top center;
	opacity: 1;
	background-size: 100%;
}

#event20180620mobile .area06 {
	position: absolute;
	left:1.00rem;
	right:1.00rem;
	bottom: 1.80rem;
	height:2.00rem;
}

#event20180620mobile .area06 .left {
	position: absolute;
	top:.40rem;
	left:.40rem;
	width:1.80rem;
}

#event20180620mobile .area06 .left p {
	color:#6B0004;
	font-size: .20rem;
	text-align: center;
	line-height: .28rem;
	margin:0;
}

#event20180620mobile .area06 .left strong {
	font-size: .40rem;
}

#event20180620mobile .area06 .left p.lead {
	line-height: .40rem;
	margin-top:.08rem;
}

#event20180620mobile .area06 .right {
	position: absolute;
	top:.16rem;
	width:1.80rem;
	right:.50rem;
}

#event20180620mobile .area06 .right p {
	font-size: .32rem;
	margin:0;
	line-height: .40rem;
	color:#6B0004;
	text-align: center;
}

#event20180620mobile .area06 .right .count {
	margin-bottom: .94rem;
}

#event20180620mobile .area07 {
	position: absolute;
	left:0; right:0;
	bottom: .68rem;
	text-align: center;
}

#event20180620mobile .winBox,
#event20180620mobile .conversionWin {
	position: fixed;
	top:0; bottom: 0;
	left:0; right:0;
	background: rgba(0,0,0,.6);
}

#event20180620mobile .conversionBkg {
	max-width:750px;
	width:100%;
	background: url(../img/web/conversionBkg.png) no-repeat scroll top center;
	margin:5rem auto 0;
	text-align: center;
	height: 4rem;
	padding-top: .5rem;
}
#event20180620mobile .conversionBkg p{
	color:#280D06;
	font-size: .3rem;
}
#event20180620mobile  .conversionWin  .conversionBkg button{
	border: none;
	outline: 0;
	text-indent: -9999px;
}
#event20180620mobile  .conversionWin  .conversionBkg .conversion_affirm{
	background: url(../img/app/affirm.png) no-repeat scroll top center;
	width: 2rem;
	background-size: 100%;
	height: .8rem;
}
#event20180620mobile  .conversionWin  .conversionBkg .conversion_close{
	background: url(../img/app/close.png) no-repeat scroll top center;
	width: 2rem;
	background-size: 100%;
	height: .8rem;
}


#event20180620mobile .notifyWin {
	background: url(../img/app/notifyWin_bkg.png) no-repeat scroll top center;
	background-size: 100%;
	width:3.10rem;
	height:2.24rem;
	margin:0 auto;
	position: relative;
	padding:.20rem;
}

#event20180620mobile .notifyWin p {
	width:100%;
	margin:0 auto;
	font-size: .20rem;
	line-height: .24rem;
	text-align: center;
}

#event20180620mobile .notifyWin .title {
	margin:0 auto;
	margin-top: .10rem;
}

#event20180620mobile .notifyWin .title.login {
	background: url(../img/app/notifyWin_login.png) no-repeat scroll center center;
	background-size: 100%;
	width:2.00rem;
	height:.48rem;
}

#event20180620mobile .notifyWin .title.ok {
	background: url(../img/app/notifyWin_ok.png) no-repeat scroll center center;
	background-size: 100%;
	width:1.00rem;
	height:.48rem;
}

#event20180620mobile .notifyWin .desc {
	margin-top: .10rem;
	color:#FFD920;
}

#event20180620mobile .notifyWin .btnArea {
	position: absolute;
	bottom: .20rem;
	left:0; right:0;
}

#event20180620mobile .notifyWin .btnArea button {
	background: url(../img/app/notifyWin_close.png) no-repeat scroll top center;
	width:1.18rem;
	height:.44rem;
	background-size: 100%;
	text-indent: -999px;
	padding: 0;
	border: 0;
	overflow: hidden;
	outline: 0;
	border-radius: 0;
}

#event20180620mobile .loginWin {
	background: url(../img/app/loginWin_bkg.png) no-repeat scroll top center;
	background-size: 100%;
	width:6.00rem;
	height:7.6rem;
	margin:2rem auto;
	padding-top: 2.40rem;
	/* padding-right: 0.80rem; */
	position: relative;
}

#event20180620mobile .loginWin .inputBox {
	width:4.48rem;
	height:.8rem;
	margin:0 auto;
	position: relative;
	margin-bottom: .20rem;
}

input::-webkit-input-placeholder{
    color:#641015;
    opacity: 1;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#641015;
    opacity: 1;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#641015;
    opacity: 1;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#641015;
    opacity: 1;
}

#event20180620mobile .loginWin .inputBox input {
	border: 0;
	border-radius: 0;
	background: url(../img/app/loginWin_input.png) no-repeat scroll top center;
	background-size: 100%;
	position: absolute;
	top:0; left:0;
	width:100%;
	height:100%;
	font-size: .30rem;
	line-height: .56rem;
	color:#641015;
}
#event20180620mobile .loginWin .inputBox:nth-child(3) input{
	background: url(../img/app/loginWin_input2.png) no-repeat scroll top center;
	width: 2.6rem;
	background-size: 100%;
}
#event20180620mobile .loginWin .codeBox button {
	color:#641015;
	font-size: .24rem;
	line-height: .56rem;
	position: absolute;
	top:0;right:0;
	bottom: 0;
	width:1.60rem;
	background: transparent;
	border:0;
	outline: 0;
	padding:0;
}
#event20180620mobile .loginWin .inputBox:nth-child(3) button{
	background: url(../img/web/loginWin_verify.png) no-repeat scroll top center;
	color:#F3D180;
	width: 1.8rem;
}
#event20180620mobile .loginWin .codeBox span {
	color:#641015;
	font-size: .20rem;
	line-height: .66rem;
	position: absolute;
	top:0;right:0;
	bottom: 0;
	width:1.60rem;
	display: block;
	text-align: center;
}

#event20180620mobile .loginWin .btnSubmit {
	margin:0 auto;
	margin-top: .40rem;
	width:100%;
	text-align: center;
}

#event20180620mobile .loginWin .btnSubmit button {
	background: url(../img/app/loginWin_btn.png) no-repeat scroll top center;
	width:2.93rem;
	height:1.4rem;
	background-size: 100%;
	text-indent: -999px;
	padding: 0;
	border: 0;
	overflow: hidden;
	outline: 0;
	border-radius: 0;
}

#event20180620mobile .loginWin .btnClose {
	position: absolute;
	top:0rem;
	right:-.5rem;
	margin:0;
}

#event20180620mobile .loginWin .btnClose button {
	background: url(../img/app/loginWin_close.png) no-repeat scroll top center;
	width:.80rem;
	height:.80rem;
	background-size: 100%;
	text-indent: -999px;
	padding: 0;
	border: 0;
	overflow: hidden;
	outline: 0;
	border-radius: 0;
}