*{
	font-family: PingFang-SC-Regular;
}
#login .content{
	top: 0 !important;
	background-color: #fff;
}
#login .content .del{
	width: 1.35rem;
	height: 1.35rem;
	background-image: url(../../../../static/img/index/close.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: .675rem;
	margin: .765rem .615rem;
	float: right;
}
#login .content .login-title{
	width: 100%;
	margin-top: 2.415rem;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #666;
	clear: both;
}
#login .content .login-main{
	padding:3.65rem 2.8rem;
}
#login .content .login-main .underline{
	border-bottom: 1px solid #8B8B8B;
	padding: .25rem;
	display: flex;
	display: -webkit-flex;
	vertical-align: bottom;
}
#login .content .login-main .icon{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: .675rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#login .content .login-main .username .icon{
	background-image: url(../../../../static/img/index/phone.png);
}

#login .content .login-main .username input::before{
	background-image: url(../../../../static/img/index/phone.png);
	content: '111';
}
#login .content .login-main .underline>input{
	width: 80%;
	outline: 0;
	border: none;
	color: #666;
	font-size: .75rem;
	vertical-align: bottom;
}
#login .content .login-main .password{
	margin: 1.125rem 0;
}
#login .content .login-main .vcode {
	margin: 1.125rem 0 1.325rem 0;
}
#login .content .login-main .password .icon{
	background-image: url(../../../../static/img/index/pas.png);
}
#login .content .login-main .vcode .icon{
	position: relative;
	top: .15rem;
	/*padding-top: .15rem;*/
	background-image: url(../../../../static/img/index/vcode.png);
}
#login .content .login-main .vcode input{
	width: 45%;
}
#login .content .login-main .vcode .vcodeBor{
	display: inline-block;
	width: 40%;
	height:1.4rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #DCDCDC;
}
#login .content .login-main .vcode .vcodeBor img{
	height: 100%;
}
#login .content .login-main .login-btn{
	height: 1.5rem;
	background-color: #3096FD;
	font-size: .75rem;
	line-height: 1.5rem;
	border-radius: .75rem;
}
#login .content .login-main .rft{
	margin-top: .75rem;
	text-align: center;
}
#login .content .login-main .rft>a{
	color: #666;
	font-size: .65rem;
}
#login .content .login-main .rf{
	margin-top: 5rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#login .content .login-main .rf>a{
	color:#3096FD;
	font-size: .65rem;
	line-height: .65rem;
}
.screenTip{
	background: #fff;
	width: 11.5rem;
	height: 13rem;
	position: relative;
	margin: 50% auto;
	text-align: center;
	font-size: 1rem;
	border-radius: 0.2rem;
	z-index: 11000;
	/* display: none; */
	/* 23 26 */
}
.screenTip .til{
	background: url(/static/img/index/authorization.png) scroll center top no-repeat;
	height: 5.5rem;
}
.screenTip .st1{
	height: 5.5rem;
	overflow: hidden;
	padding: .75rem 2rem;
}
.screenTip .st1 div{
	line-height: 2rem;
}
.screenTip .st2 button{
	border: none;
	width: 9.5rem;
	height: 1.5rem;
	background: #3096FD;
	color: #FFF;
	border-radius: 0.75rem;
}
.screen{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 10600;
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
	background: rgba(0,0,0,.4);
	/* display: none; */
}