*{
	font-family: PingFang-SC-Regular;
}
#register  header{
	height: 2.4rem;
	background-color: #3096FD;
	border: none;
}
#register  header a{
	color:#fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#register  header h1.title{
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	font-size: .9rem;
}
#register .content{
	top: 2.4rem; 
	background-color: #fff;
}
#register .content .flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#register .content .step{
	background-color:#3096FD;
	padding: 0 1.1rem .6rem;
	text-align: center;
}
#register .content .step .step-bg{
	height: 2rem;
	background-image: url(../../../../static/img/index/progress1.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	margin:0 .4rem .3rem;
	/*padding: .1rem;*/
}
#register .content .step .step-text{
	color: #fff;
	font-size: .6rem;
	line-height: .6rem;
}

#register .content .register-main{
	padding:2rem 1.2rem 0;
}
#register .content .register-main .underline{
	border-bottom: 1px solid #8B8B8B;
	padding: .25rem 0;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	font-size: 0;
}
#register .content .register-main .underline .icon{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: .4rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#register .content .register-main .username .icon{
	background-image: url(../../../../static/img/index/phone.png);
}

#register .content .register-main .underline>input{
	width: 80%;
	outline: 0;
	border: none;
	color: #666;
	font-size: .75rem;
	line-height: .75rem;
	vertical-align: bottom;
	padding: 0;
}
#register .content .register-main .password {
	margin: 1.125rem 0 1.15rem 0;
}
#register .content .register-main .password .icon{
	background-image: url(../../../../static/img/index/pas.png);
}
#register .content .register-main .password>input{
	font-size: .7rem;
	line-height: .7rem;
}
#register .content .register-main .vcode{
	display: flex;
	display: -webkit-flex;
	
}
#register .content .register-main .vcode .icon{
	background-image: url(../../../../static/img/index/vcode.png);
}
#register .content .register-main .vcode>input{
	width: calc(60% - 1.1rem);
}
#register .content .register-main .vcode .gainVcode{
	width:40%;
	text-align: right;
	font-size: .75rem;
	line-height: 1.1rem;
	color: #3096FD;
	padding-left:.4rem;
	border-left: 1px solid #8B8B8B;
	display: block;
}
#register .content .register-main .vcode .gainVcodes{
	width:40%;
	text-align: right;
	font-size: .75rem;
	line-height: 1.1rem;
	color: rgba(102,102,102,1);
	padding-left:.4rem;
	border-left: 1px solid #8B8B8B;
	display: none;
}
#register .content .register-main .referrer-text{
	color: #3096FD;
	font-size: .7rem;
	line-height: .7rem;
	margin-top: .65rem;
}
#register .content .register-main .referrer{
	display: none;
}
#register .content .register-main .register-btn{
	height: 1.5rem;
	background-color: #3096FD;
	font-size: .75rem;
	line-height: 1.5rem;
	border-radius: .75rem;
	margin-top: 1.25rem;
}
#register .content .register-main .protocol{
	margin:1rem 0 .9rem;
	font-size: .5rem;
	text-align: center;
}
#register .content .register-main .member{
	font-size: .5rem;
	text-align: center;
}
#register .content .register-main .member a{
	font-size: .6rem;
}
