*{
	font-family: PingFang-SC-Regular;
}
/* body.with-panel-right-cover .panel-right{
	-webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
} */
body{
	/* overflow: visible!important; */
}
.bar-nav~.content {
     top: 2.4rem; 
}
#vote header{
	height: 2.4rem;
	background-color: #3096FD;
}
#vote header a{
	color: #fff;
	height: 2.4rem;
	line-height: 1.4rem;
}
#vote header a.xwsd-menu{
	width: 2.4rem;
	height: 2.4rem;
	background-size: 1.1rem 1.1rem;
	background-position: right center;
	background-image: url(../../../../static/img/common/menu-@1x.png);
	background-repeat: no-repeat;
	padding: 0;
	margin-right: .1rem;
}
#vote header h1.title{
	font-size: .8rem;
	color: #fff;
}
#vote .content{
	top: 2.4rem; 
	left: 0;
	width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
#vote .content img{
	width: 100%;	
    max-width: 750px;
    height: auto;
	display: block;
	vertical-align: middle;
}
